h1 {
    text-decoration: underline;
}

body {
    background-color: #2b2e31;
    text-align: center;
}

.bright-north-logo {
    height: 50%;
    width: 50%;
}

.casperjs-logo {
    height: 30%;
    width: 30%;
    margin: 1.5em;
    margin-top: 0;
}

.cljs-logo {
    height: 30%;
    width: 30%;
    border-radius: 1200px;
    margin: 1.5em;
}

.bright-north-logo, .casperjs-logo, .cljs-logo {
    max-height: 100%;
    max-width: 100%;
}
